numpy==1.26.4
opencv-python
pyyaml
omegaconf
loguru
transforms3d
scipy
setuptools
wheel
pyrealsense2

# Provided by system ROS2 Jazzy after:
#   source /opt/ros/jazzy/setup.bash
# rclpy
# message_filters
# sensor_msgs
# geometry_msgs
#
# Optional, install from your Xense SDK package if using Xense publisher:
xensesdk
#
# Required for robot/gripper publisher, install from the Flexiv/Xense stack:
flexivrdk
r3kit
